.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 4px;

  a {
    text-decoration: none;
  }
}

.logo-font {
  font-family: $logo-font;
  font-size: 20px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
